parameters:
    es.logging.path: "%kernel.logs_dir%/elasticsearch_%kernel.environment%.log"

services:
    ONGR\ElasticsearchBundle\Command\:
        resource: '../../Command'
        tags:
            - { name: console.command }

    ONGR\ElasticsearchBundle\Service\ExportService:
        class: ONGR\ElasticsearchBundle\Service\ExportService

    ONGR\ElasticsearchBundle\Service\ImportService:
        class: ONGR\ElasticsearchBundle\Service\ImportService

    ONGR\ElasticsearchBundle\Service\IndexSuffixFinder:
        class: ONGR\ElasticsearchBundle\Service\IndexSuffixFinder

    Doctrine\Common\Cache\FilesystemCache:
        class: Doctrine\Common\Cache\FilesystemCache
        arguments: ["%kernel.cache_dir%/ongr/elasticsearch", ".ongr.data"]

    Doctrine\Common\Annotations\CachedReader:
        class: Doctrine\Common\Annotations\CachedReader
        arguments: ["@annotations.reader", "@Doctrine\Common\Cache\FilesystemCache", "%kernel.debug%"]

    ONGR\ElasticsearchBundle\Mapping\DocumentFinder:
        class: ONGR\ElasticsearchBundle\Mapping\DocumentFinder
        arguments: ["%kernel.bundles%"]
        public: false

    ONGR\ElasticsearchBundle\Mapping\DocumentParser:
        class: ONGR\ElasticsearchBundle\Mapping\DocumentParser
        arguments: ["@Doctrine\Common\Annotations\CachedReader", "@ONGR\ElasticsearchBundle\Mapping\DocumentFinder"]
        public: false

    ONGR\ElasticsearchBundle\Mapping\MetadataCollector:
        class: ONGR\ElasticsearchBundle\Mapping\MetadataCollector
        arguments: ["@es.document_finder", "@es.document_parser", "@es.cache_engine"]
        calls:
            - [setEnableCache, ["%es.cache%"]]

    ONGR\ElasticsearchBundle\Profiler\Handler\CollectionHandler:
        class: ONGR\ElasticsearchBundle\Profiler\Handler\CollectionHandler
        public: false

    es.tracer:
        class: Monolog\Logger
        arguments: ['ongr']
        calls:
            - [pushHandler, ["@ONGR\ElasticsearchBundle\Profiler\Handler\CollectionHandler"]]

    ONGR\ElasticsearchBundle\Profiler\ElasticsearchProfiler:
        class: ONGR\ElasticsearchBundle\Profiler\ElasticsearchProfiler
        calls:
            - [setManagers, ["%es.managers%"]]
            - [addLogger, ["@es.tracer"]]
        tags:
            - {name: data_collector, template: "@ONGRElasticsearch/Profiler/profiler.html.twig", id: ongr.profiler}

    ONGR\ElasticsearchBundle\Result\Converter:
        class: ONGR\ElasticsearchBundle\Result\Converter
        arguments: ["@es.metadata_collector"]

    ONGR\ElasticsearchBundle\EventListener\TerminateListener:
        class: ONGR\ElasticsearchBundle\EventListener\TerminateListener
        arguments: ["@service_container", "%es.managers%"]
        tags:
            - { name: kernel.event_listener, event: kernel.terminate }

    ONGR\ElasticsearchBundle\Generator\DocumentGenerator:
        class: ONGR\ElasticsearchBundle\Generator\DocumentGenerator

    ONGR\ElasticsearchBundle\Service\GenerateService:
        class: ONGR\ElasticsearchBundle\Service\GenerateService
        arguments: ["@es.generator.document", "@filesystem"]
